---
title: Recipes
---



<h1>Recipes</h1>
<h4>Cook them, eat them, share them, change them.</h4>
 <hr/> <br/><br/> 

<h3> Meals </h3>
<br/><br/> 
<ul>
	<li> <%= link_to("Karni Yarik (stuffed aubergines)", "/meals/stuffed_aubergines.html" ) %> </li>
</ul>
<br/><br/> 

<h3> Recipes </h3> 
 <br/><br/> 
<ul>
	<li> <%= link_to("Karni Yarik (stuffed aubergines)", "/recipe_views/karni_yarik.html" ) %> </li>
	<li> <%= link_to("Cacik (Yogurt, cucumber & mint salad", "/recipe_views/cacik.html" ) %> </li>
	<li> <%= link_to("Pilaf Rice", "/recipe_views/pilaf.html" ) %> </li>
	<li> <%= link_to("Baba Ganoosh (Aubergine meze)", "/recipe_views/baba_ganoosh.html" ) %> </li>
</ul>
<br/><br/> 



