---
title: Stuffed Aubergines with Cacik, Pilaf and Baba Ganoosh
---

<h1>Stuffed Aubergines with Cacik, Pilaf and Baba Ganoosh</h1>
<br/><br/> 
<p> 
	Tasty mince stuffed aubergines with minty yogurt and cucumber salad, Turkish pilaf rice and an aubergine meze (Baba Ganoosh). Make all of the recipes below and serve together. Enough for 4-6 people.
</p> 
<br/><br/> <hr/> <br/><br/> 
<%= partial "recipes/karni_yarik"  %>
<br/><br/> <hr/> <br/><br/> 
<%= partial "recipes/cacik"  %>
<br/><br/> <hr/> <br/><br/> 
<%= partial "recipes/baba_ganoosh"  %>
<br/><br/> <hr/> <br/><br/> 
<%= partial "recipes/pilaf"  %>
<br/><br/> <hr/> <br/><br/>  
<%= link_to("Back", "/index.html") %>
<br/><br/>  